<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>添加店铺</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
</head>
<body>
	<img src="http://imagexb.test.upcdn.net/xbsc/goods/234917-121019231h258.jpg"/>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
layui.use(['form','layer','jquery'], function(){
	var form = layui.form;
})
</script>
</body>
</html>